<div class="discount_section layout_padding">
    <div class="container">
      <div class="discount_bg">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="get_tetx">GET FLAT 25% DISCOUNT</h1>
            <h1 class="every_tetx">ON EVERY SUNDAY OF DECEMBER</h1>
            <h1 class="promo_tetx">USE PROMO CODE: BARBERDIS</h1>
          </div>
          <div class="col-sm-4">
            <div class="image_6"><img src="{{ url_for('static', filename='images/img-6.png') }}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>