<div class="service_section layout_padding">
    <div class="container">
      <h1 class="services_text">Our Services</h1>
      <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
      <div class="service_section_2">
        <div class="row">
          <div class="col-sm-4">
            <div class="image_3"><img src="{{ url_for('static', filename='images/img-3.png') }}"></div>
            <h1 class="classic_text">CLASSIC HAIR CUT</h1>
            <p class="consectetur_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <div class="read_bt_main">
              <div class="read_bt"><a href="#">Read More</a></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="image_3"><img src="{{ url_for('static', filename='images/img-4.png') }}"></div>
            <h1 class="classic_text">CLASSIC HAIR CUT</h1>
            <p class="consectetur_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <div class="read_bt_main">
              <div class="read_bt"><a href="#">Read More</a></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="image_3"><img src="{{ url_for('static', filename='images/img-5.png') }}"></div>
            <h1 class="classic_text">CLASSIC HAIR CUT</h1>
            <p class="consectetur_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <div class="read_bt_main">
              <div class="read_bt"><a href="#">Read More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>