{% extends "base.html" %}

{% block content %}
  {% include 'sections/banner_section.html' %}
  <!-- banner section end -->
  <!-- about section start -->
  {% include 'sections/about_section.html' %}
  <!-- about section end -->
  <!-- service section start -->
  {% include 'sections/service_section.html' %}
  <!-- service section end -->
  <!--discount section start -->
  {% include 'sections/discount_section.html' %}
  <!-- discount section end -->
  <!-- client section start --> 
  {% include 'sections/client_section.html' %}
  <!-- client section end -->
  <!-- contact section start -->
  {% include 'sections/contact_section.html' %}
  <!-- contact section end -->
  <!-- join us section start -->
  {% include 'sections/joinus_section.html' %}
  <!-- join us section end -->
{% endblock content %}

<!-- {% block footer %}
{% endblock footer %}

{% block copyright %}
{% endblock copyright %} -->
