{% extends "base.html" %}

{% block content %}
<!--discount section start -->
<div class="discount_section layout_padding">
  <div class="container">
    <div class="discount_bg">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="get_tetx">GET FLAT 25% DISCOUNT</h1>
          <h1 class="every_tetx">ON EVERY SUNDAY OF DECEMBER</h1>
          <h1 class="promo_tetx">USE PROMO CODE: BARBERDIS</h1>
        </div>
        <div class="col-sm-4">
          <div class="image_6"><img src="images/img-6.png"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- discount section end -->
<!-- client section start --> 
<div class="client_section layout_padding">
  <h1 class="client_taital">What is Say Our Customer</h1>
  <div class="container">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <div class="alex_bg">
                <h3 class="alex_text">Alex jorze</h3>
                <p class="reader_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="alex_bg">
                <h3 class="alex_text">Stip mark</h3>
                <p class="reader_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="alex_bg">
                <h3 class="alex_text">Alex jorze</h3>
                <p class="reader_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="alex_bg">
                <h3 class="alex_text">Stip mark</h3>
                <p class="reader_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="alex_bg">
                <h3 class="alex_text">Alex jorze</h3>
                <p class="reader_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="alex_bg">
                <h3 class="alex_text">Stip mark</h3>
                <p class="reader_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-long-arrow-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
        <i class="fa fa-long-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
<!-- client section end -->
<!-- join us section start -->
<div class="join_section margin_top_0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="member_text">Want To Be A Member? Join With Us</h1>
      </div>
      <div class="col-md-6">
        <div class="join_bt"><a href="#">SEND</a></div>
      </div>
    </div>
  </div>
</div>
<!-- join us section end -->
{% endblock content %}